Untitled1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by 123 (456) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="MxML">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="events"/>
				<xs:element ref="contracts"/>
				<xs:element ref="dealings"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="action" type="xs:string"/>
	<xs:element name="businessObject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="flatObject"/>
			</xs:sequence>
			<xs:attribute name="mefClass" type="xs:string" use="required"/>
			<xs:attribute name="mefClassInstanceType" type="xs:string" use="required"/>
			<xs:attribute name="href" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="contract">
		<xs:complexType>
			<xs:attribute name="mefclass" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="contracts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contract"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dealing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="remoteEdition"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dealings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dealing"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="events">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mainEvent"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="flatObject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="memberValuePairs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="group" type="xs:string"/>
	<xs:element name="inputBy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="userName"/>
				<xs:element ref="group"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mainEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action"/>
				<xs:element ref="object"/>
				<xs:element ref="inputBy"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="member">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="memberSimpleType">
					<xs:attribute name="path" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="memberSimpleType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="memberValuePairs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="member" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modifiedMembers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="memberValuePairs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="object">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="objectNature"/>
			</xs:sequence>
			<xs:attribute name="href" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="objectNature" type="xs:string"/>
	<xs:element name="remoteEdition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="businessObject"/>
				<xs:element ref="modifiedMembers"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userName" type="xs:string"/>
</xs:schema>
